:root{
    --text-color: #05445E;
    --background-color: #D4F1F4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui;
}

html,
body,
main {
    height: 100%;
}

.empty-state {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
}

.empty-state-title {
    font-size: 16px;
}

.empty-state-description {
    font-size: 12px;
}